/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url();
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #f0ad4e;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #d98f2e;
}

h1 {
    font-size: 2em;
}
/* Background images */
body {
    background-image: url(caabcc6d01a2212b0f1f183893182d27.jpg); /* For general background */
    background-size: cover;
    background-position: center;
}